{% extends "base.html" %}
{% block title %} {{ block.super }} | chi_siamo {% endblock title %}
{% block content %}  
    
    
    <h1>Chi siamo?</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nihil nemo! Veniam reprehenderit
        odio aliquid earum? Rem perspiciatis quis illum esse cumque? Incidunt quaerat numquam 
        sapiente aliquam ut amet sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolore,
        magni illo sequi modi consequuntur fugiat porro eum dolor nesciunt tempore distinctio
        nam quam illum minima quo officiis incidunt deleniti!</p>


        {% endblock content %}
